    <section id="about" class="section-padding">
        <div class="container">
            <h2>About Smart Security</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="material-icons">favorite</i>
                        <h4>Simple To Use</h4>
                        <p>User friendly UI which makes it usable without any prior experience.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="material-icons">flash_on</i>
                        <h4>Powerful</h4>
                        <p>Provides you with most efficiency.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box">
                        <i class="material-icons">settings</i>
                        <h4>Easy To Customize</h4>
                        <p>Simple options makes customization faster and easier.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Awesome Features</h2>
                    <hr>
                    <div class="feat-media">
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons">monetization_on</i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Easy On Your Wallet</h4>
                                <p>Best performance at most affordable prices.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons">notification_important</i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Instant Alert</h4>
                                <p>Get instant alert via Email and SMS when human is detected.</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <i class="material-icons">security</i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Real Time Protection</h4>
                                <p>Fully Responsive Real time monitoring keeps your system up and active and smart alert gives you best security.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-push-1">
                    <img src="/static/assets/img/Dashboard.png" class="img-responsive" alt="feature">
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="section-padding">
        <div class="container">
            <h2>Our Services</h2>
            <p>Efficent and smart security at your will.</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box">
                        <i class="material-icons">thumb_up</i>
                        <h4>Great Quality</h4>
                        <p>Best quality with high optimazation.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box">
                        <i class="material-icons">attach_money</i>
                        <h4>Best Price</h4>
                        <p>Best product at affordable price worth buying.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box">
                        <i class="material-icons">forum</i>
                        <h4>24/7 Support</h4>
                        <p>24/7 technical support is available and provided by our team.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box">
                        <i class="material-icons">view_carousel</i>
                        <h4>UX/UI Design</h4>
                        <p>Simple, easier to navigate degign make configuration and use hassle free.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="price" class="section-padding">
        <div class="container">
            <h2>Choose Your Plan</h2>
            <div class="row">
                <div class="pricing-container">
                    <div class="col-md-4">
                        <div class="plan">
                            <div class="pricing-header">
                                <h3>Basic</h3>
                                <h3><span class="currency">৳</span><span class="amount">399</span><span class="period">3/mo</span></h3>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-unstyled">
                                    <li><i class="material-icons">done</i><b>2gb/mo</b> Storage</li>
                                    <li><i class="material-icons">done</i><b>100</b> Email</li>
                                    <li><i class="material-icons">done</i><b>100</b> SMS</li>
                                    <li><i class="material-icons">done</i><b>24/7</b> Support</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="#" class="btn btn-blue">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="plan active">
                            <div class="pricing-header">
                                <h3>Standard</h3>
                                <h3><span class="currency">৳</span><span class="amount">699</span><span class="period">6/mo</span></h3>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-unstyled">
                                    <li><i class="material-icons">done</i><b>5gb/mo</b> Storage</li>
                                    <li><i class="material-icons">done</i><b>300</b> Email</li>
                                    <li><i class="material-icons">done</i><b>300</b> SMS</li>
                                    <li><i class="material-icons">done</i><b>24/7</b> Support</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="#" class="btn btn-blue">Select</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="plan">
                            <div class="pricing-header">
                                <h3>Advance</h3>
                                <h3><span class="currency">৳</span><span class="amount">999</span><span class="period">12/mo</span></h3>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-unstyled">
                                    <li><i class="material-icons">done</i><b>10gb/mo</b> Storage</li>
                                    <li><i class="material-icons">done</i><b>600</b> Email</li>
                                    <li><i class="material-icons">done</i><b>600</b> SMS</li>
                                    <li><i class="material-icons">done</i><b>24/7</b> Support</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="#" class="btn btn-blue">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="section-padding">
        <div class="container contact-forms">
            <h2>Contact Us</h2>
            <p>If you have any query, please let us know.</p>
            <p>By fillup this form you can send us your message & wee will reply you as soon as possible.</p>
            <form class="contact-form">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Full Name" required="required">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="required">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-blue">Send Message</button>
            </form>
        </div>
    </section>